<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title id="title">HiveTalk SFU - About.</title>
        <link id="icon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            id="description"
            name="description"
            content="HiveTalk SFU powered by WebRTC and mediasoup, Real-time Simple Secure Fast video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            id="keywords"
            name="keywords"
            content="webrtc, miro, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta id="ogType" property="og:type" content="app-webrtc" />
        <meta id="ogSiteName" property="og:site_name" content="HiveTalk SFU" />
        <meta id="ogTitle" property="og:title" content="Click the link to make a call." />
        <meta
            id="ogDescription"
            property="og:description"
            content="HiveTalk SFU calling provides real-time video calls, messaging and screen sharing."
        />
        <meta id="ogImage" property="og:image" content="https://hivetalk.org/images/hivetalk.png" />
        <meta id="ogUrl" property="og:url" content="https://hivetalk.org" />

        <!-- StyleSheet -->

        <link rel="stylesheet" type="text/css" href="../css/landing.css" />

        <!-- Js scripts -->

        <script defer src="../js/Brand.js"></script>
        <script async src="../js/Umami.js"></script>

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body>
        <main>
            <section class="cta section">
                <h2 class="tac">About this Project</h2>
                <div class="container">
                    <p class="tac">
                        HiveTalk is currently maintained by
                        <a href="https://github.com/HiveTalk">the HiveTalk Group</a>. It is a work in progress and
                        currently in beta. Want to help with development? Check out
                        <a href="https://github.com/HiveTalk/HiveTalkSFU"> <b>Github</b></a
                        >. Please Send Feedback via <a href="https://t.me/+2Ll1IFwXwCJlMGFl"><b> Telegram </b></a>. Any
                        <a href="https://hivetalk.org/support">donations</a>
                        will support bounties and future hosting costs.
                        <li class="tac mt-24" style="list-style-type: none">
                            Media Inquiries: See <a href="/presskit">PressKit</a>, reach us on
                            <a href="https://primal.net/bitkarrot"> <b>Nostr </b></a>
                        </li>
                    </p>
                </div>
            </section>

            <section class="cta section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <a href="#communities">
                            <h2 class="tac" id="communities">Communities on HiveTalk</h2>
                        </a>
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon2">
                                        <a href="https://theschoolofbitcoin.com/">
                                            <img
                                                src="../images/tsobtc-logo-143x133.png"
                                                alt="The School of Bitcoin Australia"
                                                class="wh-200"
                                            />
                                        </a>
                                    </div>
                                    <h4 class="feature-title mt-24">The School of Bitcoin Australia</h4>
                                    <p class="text-sm mb-0">
                                        Check above link for meetup times. Hivetalk room:
                                        <a href="https://hivetalk.org/join/tsobtc">
                                            https://hivetalk.org/join/tsobtc
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon2">
                                        <a href="https://x.com/orangesunspaces/">
                                            <img
                                                src="../images/OrangeSun1500x500.jpg"
                                                alt="The Orange Sun"
                                                class="wh-200"
                                            />
                                        </a>
                                    </div>
                                    <h4 class="feature-title mt-24">The Orange Sun</h4>
                                    <p class="text-sm mb-0">
                                        Check above link for meetup times. Hivetalk room:
                                        <a href="https://hivetalk.org/join/OrangeSun">
                                            https://hivetalk.org/join/OrangeSun
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon2">
                                        <a href="https://bitcoinubuntu.org/">
                                            <img
                                                src="../images/Bitcoin-Ubuntu-logo-RGB.png"
                                                alt="Bitcoin Ubuntu"
                                                class="wh-200"
                                            />
                                        </a>
                                    </div>
                                    <h4 class="feature-title mt-24">Bitcoin Ubuntu</h4>
                                    <p class="text-sm mb-0">
                                        Bitcoin Ubuntu is a volunteer organisation offering free education and
                                        onboarding resources.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon2">
                                        <a href="https://plebnet.dev">
                                            <img src="../images/plebnet-icon.png" alt="Plebnet.dev" class="wh-200" />
                                        </a>
                                    </div>
                                    <h4 class="feature-title mt-24">Plebnet.dev</h4>
                                    <p class="text-sm mb-0">
                                        Bi-weekly dev meetups Wed nights 6pm PST/9pm EST. Hivetalk room:
                                        <a href="https://hivetalk.org/join/devnight">
                                            https://hivetalk.org/join/devnight
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="features" class="features section">
                <div class="container-sm">
                <div class="pricing-header text-center reveal-from-bottom mt-32" data-reveal-delay="150">
                    <h2 class="section-title mt-0">
                        Unlimited number of conference rooms and users without call time limitation!
                    </h2>
                </div>
                </div>
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/screen_sharing.svg"
                                            alt="mirotalksfu-screen"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Screen Sharing</h4>
                                    <p class="text-sm mb-0">
                                        Share your screen, application window, present your documents, slides and more.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/webcam_streaming.svg"
                                            alt="mirotalksfu-webcam"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">WebCam Streaming</h4>
                                    <p class="text-sm mb-0">
                                        With the webcam on, participants can make a deeper connection with you. Up to 4k
                                        resolution.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/audio_streaming.svg"
                                            alt="mirotalksfu-audio"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Audio Streaming</h4>
                                    <p class="text-sm mb-0">
                                        Echo cancellation and noise suppression for crystal clear audio.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img class="wh-200-150" src="../svg/webcam_chat.svg" alt="mirotalksfu-chat" />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Chat</h4>
                                    <p class="text-sm mb-0">
                                        Chat with others in meeting with integrated emoji picker.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/recording_meeting.svg"
                                            alt="mirotalksfu-recording"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Recording meeting</h4>
                                    <p class="text-sm mb-0">
                                        Record your Screen, Video, and Audio on Your browser Blob. Save for future use
                                        or to share with others.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/collaborative_whitboard.svg"
                                            alt="mirotalksfu-whiteboard"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Collaborative Whiteboard</h4>
                                    <p class="text-sm mb-0">
                                        Advanced interactive whiteboard to draw and explain your concepts to other
                                        participants in the meeting.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/file_sharing.svg"
                                            alt="mirotalksfu-filesharing"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">File Sharing</h4>
                                    <p class="text-sm mb-0">
                                        Share any type of file with all participants in the meeting.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/total_privacy.svg"
                                            alt="mirotalksfu-privacy"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Total privacy</h4>
                                    <p class="text-sm mb-0">
                                        Data stays between you and your participants. We don't collect or share personal
                                        information.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <!-- <div class="feature-icon">
                                        <img
                                            class="wh-200-150"
                                            src="../svg/maximum_security.svg"
                                            alt="mirotalksfu-security"
                                        />
                                    </div> -->
                                    <h4 class="feature-title mt-24">Maximum security</h4>
                                    <p class="text-sm mb-0">
                                        Thanks to WebRTC, all the media streams are encrypted using Secure Real-time
                                        Transport Protocol (SRTP).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="tryEasier" class="cta section">
                <div class="container">
                    <h2 class="tac">Try an easier, more secure way of calling.</h2>
                    <br />
                    <div class="tac">
                        <a class="button button-primary button-wide-mobile br-6 pulse" href="/newroom">Try now</a>
                    </div>
                </div>
            </section>



        </main>

        <footer id="footer" class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="/">
                            <div class="form-group-desktop">
                                <img class="header-logo-image" src="../images/hivelogo50x200.svg" alt="Logo" />
                            </div>
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li><a href="/">Home</a></li>
                        <li><a href="https://hivetalk.printify.me/products">Shop</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/support">Support</a></li>
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/api/v1/docs/">API</a></li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="https://github.com/hivetalk" target="_blank" rel="noopener noreferrer">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                >
                                    <title>Github</title>
                                    <path
                                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/+2Ll1IFwXwCJlMGFl" target="_blank" rel="noopener noreferrer">
                                <svg
                                    role="img"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    width="24"
                                    height="24"
                                >
                                    <title>Telegram</title>
                                    <path
                                        d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://hivetalk.nostr1.com" target="_blank" rel="noopener noreferrer">
                                <img src="/images/relaygr.png" alt="nostr" width="24" height="24" />
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://njump.me/npub18pudjhdhhp2v8gxnkttt00um729nv93tuepjda2jrwn3eua5tf5s80a699"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img src="/images/nostrgr.png" alt="nostr" width="24" height="24" />
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">
                        &copy; 2024 HiveTalk, all rights reserved
                        <br />
                        <div id="content-placeholder"><!-- Content will be inserted here --></div>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="../js/Landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
