#nostrButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

#nostrButton:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#nostrButton:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
